
.parallaxTwo {
  /* The image used */
  background-image: url("poster.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
	text-align: justify;
}

#leo {
	margin: 0 15px 10px 0;
	float: left;
	width: 300px;
	height: 300px;
}

#image-wrapper {
  height: 20vh;
  overflow: hidden;
  background: url("hero.png");
  background-size: cover;
  background-position: center;
}

.bg-black {
  background: black;
}
